body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightblue;
    height: calc(100vh - 16px);
}

.form-submitted{
    background-image: url('https://uploads-ssl.webflow.com/5ef0df6b9272f7410180a013/60c0e28575cd7c21701806fd_q1cunpuhbdreMPFRSFLyfUXNzpqv_I5fz_plwv6gV3sMNXwUSPrq88pC2iJijEV7wERnKXtdTA0eE4HvdnntGo9AHAWn-IcMPKV-rZw1v75vlTEoLF4OdNqsRb7C6r7Mvzrm7fe4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.canvas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(7, 7, 97, 0.774);
    width: 540px;
    height: 386px;
    border-radius: 16px;
}

.moon-container{
    display: flex;
    flex-direction: row;
}
.moon{
    background-color: darkgray;
    height: 60px;
    width: 60px;
    border-radius: 40px;
    margin: 20px 0px 0px 25px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4);
}



.building-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content:flex-end;
    margin-left: 20px;
}

.tallest-building{
    background-color: rgba(143, 142, 142, 0.712);
    height: 190px;
    width:24%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.window:nth-child(2n + 1),
.window2:nth-child(3n + 1),
.window3:nth-child(4n + 1) {
  animation: lightOn 15s infinite;
}

.window:nth-child(3n),
.window2:nth-child(4n),
.window3:nth-child(2n) {
  animation: lightOn 9s infinite;
}


.window{
    background-color: lightblue;
    height: 40px;
    width: 60px;
}

.window2{
    background-color: lightblue;
    height: 25px;
    width: 60px;
}

.window3{
    background-color: lightblue;
    height: 25px;
    width: 60px;
}

.shortest-building{
    background-color: black;
    height: 90px;
    width: 24%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.medium-building{
    background-color: white;
    height: 15vh;
    width: 24%;
    margin-right: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.grass{
    background-color: green;
    height: 25%;
    width: 540px;
    border-radius: 0 0 16px 16px;
}
.buynowsec {
    width: 70%;
    margin-top: 30px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    border-color: initial;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
}

@keyframes lightOn {
    0%, 100% {
        background-color: lightblue;
    }
    50% {
        background-color: rgba(240, 199, 19, 0.822);
    }
}


/* Mobile (480 x 320) */
@media screen and (max-width: 480px) {
    .canvas {
        width: 80%;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .moon-container {
        width: 100%;
    }

    .moon {
        height: 25px;
        width: 25px;
        margin: 5px;
    }

    .building-container{
        margin-left: 50px;
    }


    .tallest-building,
    .shortest-building,
    .medium-building {
        width: 30%;
    }

    .tallest-building {
        height: 70px;
    }

    .shortest-building {
        height: 30px;
    }

    .medium-building {
        height: 50px;
    }

    .window, .window3 {
        height: 15px;
        width: 20px;
    }

    .window2 {
        height: 10px;
        width: 20px;
    }

    .grass {
        width: 100%;
        height: 30%;
        margin-bottom: 30px;
    }
}


/* Tablet(1024 x 768) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .canvas {
        width: 600px;
        height: 400px;
    }

    .building-container{
        margin-left: 20px;
    }

    .medium-building{
        height: 18vh;
    }
    
    .grass{
        width: 600px;
        height: 100vh;
    }

    .buynowsec {
        width: 80%;
    }
}

/* Desktop (1680 x 1050) */
@media screen and (min-width: 1050px) and (max-width: 1680px) {
    .canvas {
        width: 800px;
        height: 500px;
    }
    .building-container{
        margin: 8vh 0vh 0vh 10vw;
    }

    .moon{
        width: 85px;
        height: 85px;
    }

    .window,.window2,.window3 {
        margin: 0px 5px 0px 5px;
    }

    .window2,.window3 {
        height: 30px;
    }

    .grass{
        width: 800px;
    }

    .buynowsec {
        width: 60%;
    }
}
